// Float Clearing - from Genesis 2.2.2's style.css
// From https://github.com/cdukes/bones-for-genesis-2-0/blob/master/sass/_clearfix.scss

// http://nicolasgallagher.com/micro-clearfix-hack/
%clearfix {
    zoom: 1; // For IE

    &:before,
    &:after {
        display: table;
        content: '';
    }

    &:after {
        clear: both;
    }
}

.author-box,
.clearfix,
.entry,
.entry-content,
.footer-widgets,
.nav-primary,
.nav-secondary,
.pagination,
.site-container,
.site-footer,
.site-header,
.site-inner,
.wrap,
.content-sidebar-wrap {
    @extend %clearfix;
}